@model Lawyers.WebApp.Models.LawyersPageModel
<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta name="google-site-verification" content="DYRf8i5uVhdmo-kDzUhqt5SBdqK1AakvnLKcwvx7M-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title @ViewBag.Page</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />

    <link rel="next" href="@(Model.PagingViewModel.Current+1)" />
    @if (Model.PagingViewModel.Current > 1)
    {
        <link rel="next" href="@(Model.PagingViewModel.Current-1)" />
    }

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9943820082472623",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>
    @{await Html.RenderPartialAsync("GoogleTagManagerView");}

    <div class="container">
        <nav class="navbar navbar-default" id="lpage">
            <div class="container-fluid">
                <div class="navbar-header ">
                    <a class="navbar-brand" href="/">Australian lawyers search service</a>
                </div>
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li><a asp-controller="ContactForm" rel="nofollow">Contacts</a></li>
                    <li><a asp-controller="About" rel="nofollow">About</a></li>
                </ul>
            </div>
        </nav>
        @if (Model.ShowBreadcrumbs)
        {
            await Html.RenderPartialAsync("BreadcrumbView", Model.Breadcrumbs);
        }
        @RenderBody()

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB33EFxKG7JauFLCy_6Q9sOmWcBvFlfiJ0"></script>
        <script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="js/site.js"></script>
        <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript">document.body.onload = initMap;</script>

        <footer class="footer">

            <div class="col-xs-12 col-md-6"><p>Copyright ©2016</p></div>
            <div class="col-xs-12 col-md-6"><a asp-controller="TermOfUse">Terms of use</a></div>

        </footer>
    </div>
</body>
</html>
