@model Lawyers.WebApp.Models.LawyersPageModel

<script>
    var maps = [];
    @foreach (var lawyer in Model.Lawyers)
    {
        @:maps.push(['@lawyer.Name', @lawyer.Lat , @lawyer.Lng, '@lawyer.Address', '@lawyer.Phone']);
    }

	var markers = [];
	var windows = [];
	function initMap() {
		var places = [];

		for(var i = 0; i < maps.length; i++){
			places.push({ name: maps[i][0] });
			var myLatLng = {
				lat: parseFloat(maps[i][1]),
				lng: parseFloat(maps[i][2])
			};
			places[i].LatLng = myLatLng;
			places[i].address = maps[i][3];
			places[i].telephone = maps[i][4];
		}

		// Create a map object and specify the DOM element for display.
		var map = new google.maps.Map(document.getElementById('map'), {
			center: new google.maps.LatLng(0, 0),
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			scrollwheel: true,
			rotateControl: true,
			zoom: 0
		});




		for(var j= 0; j < places.length; j++){
			// Create a marker and set its position.
			markers[j] = new google.maps.Marker({
				map: map,
				position: places[j].LatLng,
				title: maps[j][0]
			});

			var content = '<h4>'+places[j].name+'</h4>';
			content += '<b>Telephone: </b>' + places[j].telephone + '<br>';
			content += '<b>Address: </b>' + places[j].address;

			windows[j] = new google.maps.InfoWindow({
		    	content: content
		  	});


			markers[j].setMap(map);
			markers[j].addListener('click', function() {
			    var index = j;
			    for(var k = 0; k < windows.length; k++){
			        windows[k].close();
			    }
			    windows[index].open(map, markers[index]);
			});
		}
		var latlngbounds = new google.maps.LatLngBounds();
		for (var i = 0; i < places.length; i++) {
			latlngbounds.extend(new google.maps.LatLng(places[i].LatLng.lat, places[i].LatLng.lng));
		}
		map.fitBounds(latlngbounds);
	}

</script>